<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317568236888-35ic9trr77uoou858kkkhsa3h9l4iius.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317568236888-35ic9trr77uoou858kkkhsa3h9l4iius</string>
	<key>API_KEY</key>
	<string>AIzaSyDA9qrmg1UNFPnlAZWC1Xlis5TdkNIzavM</string>
	<key>GCM_SENDER_ID</key>
	<string>317568236888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.griffsoft.QuickBite</string>
	<key>PROJECT_ID</key>
	<string>quickbite-1c608</string>
	<key>STORAGE_BUCKET</key>
	<string>quickbite-1c608.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:317568236888:ios:300f122f945e8c26e9b92d</string>
	<key>DATABASE_URL</key>
	<string>https://quickbite-1c608.firebaseio.com</string>
</dict>
</plist>
